
p, h4{
 margin-left: 10px;
 
}

tr, td{
  border-style: solid;
  border-width: 2px;
}
table{
  border-width: 2px;
  border-style: solid;
}
a[href^="https"]::before {
  content: "🔗 ";
}

a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}

